{% extends "common/_base-layout.njk" %}

{% block content %}

    <div class="wrapper wrapper-promo">
        <section class="container promo">

            <div class="promo__info-wrapper">
                <h1 class="promo__title">
                    <span class="promo__title--first-line">Smart Moves</span>
                    <br>
                    <span class="promo__title--second-line">of <span class="promo__title--red">Successful</span> Business</span>
                </h1>
                <p class="promo__desc">
                    Claritas est etiam processus dynamicus, qui sequiturbr <br> mutationem consuetudium lectorum.
                </p>
                <div class="promo__controls">
                    <button class="btn btn--buy">Buy This Now</button>
                    <button class="btn btn--preview">Live Preview</button>
                </div>
            </div>
        </section>
    </div>

    <div class="wrapper wrapper--features">
        <section class="container features">
            <ul class="features__list">
                <li class="features__item">
                    <svg class="features__img" width="100" height="100">
                        <use xlink:href="#leaf-icon"/>
                    </svg>
                    <h2 class="features__title">Clean Design</h2>
                    <p class="features__desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.
                    </p>
                </li>
                <li class="features__item">
                    <svg class="features__img" width="100" height="100">
                        <use xlink:href="#star-icon"/>
                    </svg>
                    <h2 class="features__title">Clean Design</h2>
                    <p class="features__desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.
                    </p>
                </li>
                <li class="features__item">
                    <svg class="features__img" width="100" height="100">
                        <use xlink:href="#phone-icon"/>
                    </svg>
                    <h2 class="features__title">Clean Design</h2>
                    <p class="features__desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.
                    </p>
                </li>
                <li class="features__item">
                    <svg class="features__img" width="100" height="100">
                        <use xlink:href="#gear-icon"/>
                    </svg>
                    <h2 class="features__title">Clean Design</h2>
                    <p class="features__desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.
                    </p>
                </li>
            </ul>
        </section>
    </div>


    <div class="wrapper wrapper--recent-work">
        <section class="container recent-work">

            <div class="recent-work__intro">
                <h2 class="recent-work__title">
                    See Our <br>
                    Recent Work
                </h2>
                <p class="recent-work__desc">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Claritas est etiam processus dynamicus.
                </p>
            </div>

            <div class="recent-work__item work__first">
                <div class="work__info">
                    <h2 class="work__title">Claritas Est Processus</h2>
                    <p class="work__desc">Graphic Designer, Photoshop</p>
                    <div class="work__btn-wrapper">
                        <button class="btn btn--work">
                            <svg width="42" height="42" role="img">
                                <use xlink:href="#search-icon"/>
                            </svg>
                        </button>
                        <button class="btn btn--work">
                            <svg fill="" width="42" height="42" role="img">
                                <use xlink:href="#link-icon"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="recent-work__item work__two">
                <div class="work__info">
                    <h2 class="work__title">Claritas Est Processus</h2>
                    <p class="work__desc">Graphic Designer, Photoshop</p>
                    <div class="work__btn-wrapper">
                        <button class="btn btn--work">
                            <svg fill="" width="42" height="42" role="img">
                                <use xlink:href="#search-icon"/>
                            </svg>
                        </button>
                        <button class="btn btn--work">
                            <svg fill="" width="42" height="42" role="img">
                                <use xlink:href="#link-icon"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="recent-work__item work__three">
                <div class="work__info">
                    <h2 class="work__title">Claritas Est Processus</h2>
                    <p class="work__desc">Graphic Designer, Photoshop</p>
                    <div class="work__btn-wrapper">
                        <button class="btn btn--work">
                            <svg fill="" width="42" height="42" role="img">
                                <use xlink:href="#search-icon"/>
                            </svg>
                        </button>
                        <button class="btn btn--work">
                            <svg fill="" width="42" height="42" role="img">
                                <use xlink:href="#link-icon"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="recent-work__item work__four">
                <div class="work__info">
                    <h2 class="work__title">Claritas Est Processus</h2>
                    <p class="work__desc">Graphic Designer, Photoshop</p>
                    <div class="work__btn-wrapper">
                        <button class="btn btn--work">
                            <svg fill="" width="42" height="42" role="img">
                                <use xlink:href="#search-icon"/>
                            </svg>
                        </button>
                        <button class="btn btn--work">
                            <svg fill="" width="42" height="42" role="img">
                                <use xlink:href="#link-icon"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="recent-work__item work__five">
                <div class="work__info">
                    <h2 class="work__title">Claritas Est Processus</h2>
                    <p class="work__desc">Graphic Designer, Photoshop</p>
                    <div class="work__btn-wrapper">
                        <button class="btn btn--work">
                            <svg fill="" width="42" height="42" role="img">
                                <use xlink:href="#search-icon"/>
                            </svg>
                        </button>
                        <button class="btn btn--work">
                            <svg fill="" width="42" height="42" role="img">
                                <use xlink:href="#link-icon"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <div class="wrapper wrapper--responsive-design">
        <section class="container responsive-design">

            <div class="responsive-design__img-wrapper">
                <img class="responsive-design__img-bg" src="/src/assets/img/browser.png" alt="image">
            </div>
            <img class="responsive-design__img-sm" src="/src/assets/img/iphone.png" alt="image">

            <div class="responsive-design__options">
                <h2 class="responsive-design__title">
                    Fully Responsive <br>
                    Design Ready
                </h2>
                <p class="responsive-design__desc">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
                    Claritas est etiam processus dynamicus.
                </p>
                <ul class="responsive-design__list">
                    <li class="responsive-design__item">Claritas est etiam processus dynamicus.</li>
                    <li class="responsive-design__item">Mirum est notare quam littera gothica, quam.</li>
                    <li class="responsive-design__item">Nam liber tempor cum soluta.</li>
                    <li class="responsive-design__item">Duis autem vel eum iriure dolor in hendrerit.</li>
                    <li class="responsive-design__item">Typi non habent claritatem insitam.</li>
                </ul>
                <button class="btn btn--buy-now">Buy This Now</button>
            </div>
        </section>
    </div>


    <div class="wrapper wrapper--skills">
        <section class="container skills">

        </section>
    </div>

{% endblock %}