
.btn {
  padding: 22px 40px 21px;
  font-size: 15px;
  font-weight: 900;
  color: $white;
  text-transform: uppercase;
  border-radius: 6px;

  &:active, &:focus {
    outline: none;
  }


  &--work {

    margin: 5px;
    padding: 0;
    border-radius: 50%;
    fill: $black-200;

    &:hover {
      fill: $red;
    }

    & > svg {
      vertical-align: bottom;
      border-radius: 50%;
    }
  }
}



