


/*  Контейнер для центровки сайта с фиксами для IE11, внутренний футер прижимается книзу через margin-top: auto
================================
*/
.flex-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @include min-max($max-width: $container-width);
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0,0,0,0);
  clip-path: inset(100%);
}
