
$img_dir : "/src/assets/img";
$font_dir : "/src/assets/fonts";
$tpl_dir : "/src/assets/tpl";

$container-width : 1200px;


$black: #000000;
$black-100: #252525;
$black-200: #202020;

$grey :#555555;
$grey-100 :#707070;
$grey-200 :#636363;
$grey-400: #959595;


$green: #464646;


$red: #e5493a;

$white: #ffffff;



$mobile-width: 480px;
$tablet-width: 760px;
$tablet-lg-width: 980px;
$desctop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;









