

<div class="wrapper wrapper--footer">
    <footer class="container footer">
        <ul class="footer-nav">
            <li class="site-nav__item"><a class="site-nav__link site-nav__link--footer" href="#">Home</a></li>
            <li class="site-nav__item"><a class="site-nav__link site-nav__link--footer" href="#">Features</a></li>
            <li class="site-nav__item"><a class="site-nav__link site-nav__link--footer" href="#">Portfolio</a></li>
            <li class="site-nav__item"><a class="site-nav__link site-nav__link--footer" href="#">SKILLS</a></li>
            <li class="site-nav__item"><a class="site-nav__link site-nav__link--footer" href="#">Blog</a></li>
            <li class="site-nav__item"><a class="site-nav__link site-nav__link--footer" href="#">CLIENTS</a></li>
            <li class="site-nav__item"><a class="site-nav__link site-nav__link--footer" href="#">Contacts</a></li>
        </ul>
    </footer>

</div>