

<div class="wrapper wrapper--header">
    <header class="container header">
        <a class="header__logo" href="#">EXE</a>

            <ul class="site-nav">
                <li class="site-nav__item"><a class="site-nav__link" href="#">Home</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">Features</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">Portfolio</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">SKILLS</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">Blog</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">CLIENTS</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">Contacts</a></li>
            </ul>

        <button class="mobile-menu__icon"><span></span></button>


    </header>
</div>

