
/*  Фикс IE11 для прижатия футера к подвалу  */
html {
  display: flex;
  flex-direction: column;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Ubuntu", "Arial", sans-serif;
  font-size: 16px;

  overflow-wrap: break-word;
  word-wrap: break-word;
}

.wrapper {
  @include min-max($max-width: $site-max-width, $padding: 15px);
}

.wrapper-no-offset {
  @include min-max($max-width: $site-max-width);
}

.container {
  @include min-max($max-width: $container-width);
}


